<!-- Footer -->
<!-- Footer New Letter -->
<section class="footer-container container-fluid bg-black text-light">
  <footer class="footer container py-4">
    <div class="footer-top hstack justify-content-between align-items-start">
      <div
        class="footer-top-left d-flex flex-xl-row flex-column align-items-start gap-xl-3 gap-2"
      >
        <h4 class="fw-bold fs-5">Đăng ký nhận bản tin</h4>
        <form class="d-flex gap-3">
          <div class="form-group position-relative">
            <input
              type="text"
              class="form-control rounded-pill w-100"
              placeholder="Nhập email của bạn"
            />
            <i class="fa-regular fa-envelope position-absolute"></i>
          </div>
          <button class="btn btn-primary rounded-pill border-0 w-100 px-4">
            Đăng ký
          </button>
        </form>
      </div>
      <div
        class="footer-top-right d-md-flex flex-xl-row flex-column align-items-end gap-xl-3 gap-2 d-none"
      >
        <h4 class="fw-bold fs-4 wow tada">Kết nối với chúng tôi</h4>
        <div class="socials">
          <a href="#" class="btn btn-primary rounded-circle me-2"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a href="#" class="btn btn-primary rounded-circle me-2"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>
  </footer>
</section>
<!-- Footer Bottom -->
<section
  class="footer-container container-fluid text-bg-dark py-3 d-block d-xl-none"
>
  <div class="footer-bottom">
    <div
      class="accordion"
      id="accordionPanelsStayOpenExample"
      data-bs-theme="dark"
    >
      <div class="accordion-item bg-black border-0">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fw-bold text-bg-dark rounded-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseWego"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseWego"
          >
            Về Wego
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseWego"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body rounded-0">
            <p class="m-0 lh-base mb-1">Công ty cổ phần Wego Coffee</p>
            <p class="m-0 lh-base mb-1">
              <i class="fa-solid fa-location-dot"></i> 222 Điện Biên Phủ, phường
              Võ Thị Sáu, Quận 3, TP. HCM
            </p>
            <p class="m-0 lh-base mb-1">
              <i class="fa-solid fa-envelope"></i>
              wegocoffeehelp@gmail.com
            </p>
            <img
              class="img-fluid mt-2"
              src="/images/footer_logobct_img.webp"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="accordion-item bg-black border-0">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fw-bold text-bg-dark rounded-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseCustomer"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseCustomer"
          >
            Hỗ trợ khách hàng
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseCustomer"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body rounded-0">
            <ul>
              <li><a href="#">Liên hệ</a></li>
              <li><a href="#">Hệ thống cửa hàng</a></li>
              <li><a href="#">Câu hỏi thường gặp</a></li>
              <li><a href="#">Hướng dẫn mua hàng</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item bg-black border-0">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fw-bold text-bg-dark rounded-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapsePolicy"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapsePolicy"
          >
            Chính sách
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapsePolicy"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body rounded-0">
            <ul>
              <li><a href="#">Liên hệ</a></li>
              <li><a href="#">Hệ thống cửa hàng</a></li>
              <li><a href="#">Câu hỏi thường gặp</a></li>
              <li><a href="#">Hướng dẫn mua hàng</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item bg-black border-0">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fw-bold text-bg-dark rounded-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseLink"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseLink"
          >
            Liên kết
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseLink"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body rounded-0">
            <ul>
              <li><a href="#">Điều khoản dịch vụ</a></li>
              <li><a href="#">Điều khoản bảo mật</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer XL -->
<section
  class="footer-container container-fluid text-bg-dark py-5 d-none d-xl-block"
>
  <div class="footer-xl container">
    <div class="row">
      <div class="col-3">
        <h5 class="fw-bold mb-4">Về Wego</h5>
        <p class="m-0 lh-base mb-1">Công ty cổ phần Wego Coffee</p>
        <p class="m-0 lh-base mb-1">
          <i class="fa-solid fa-location-dot"></i> 222 Điện Biên Phủ, phường Võ
          Thị Sáu, Quận 3, TP. HCM
        </p>
        <p class="m-0 lh-base mb-1">
          <i class="fa-solid fa-envelope"></i> wegocoffeehelp@gmail.com
        </p>
        <img
          class="img-fluid mt-2"
          src="/images/footer_logobct_img.webp"
          alt=""
        />
      </div>
      <div class="col-3">
        <h5 class="fw-bold mb-4">Hỗ trợ khách hàng</h5>
        <ul>
          <li><a href="#">Liên hệ</a></li>
          <li><a href="#">Hệ thống cửa hàng</a></li>
          <li><a href="#">Câu hỏi thường gặp</a></li>
          <li><a href="#">Hướng dẫn mua hàng</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h5 class="fw-bold mb-4">Chính sách</h5>
        <ul>
          <li><a href="#">Liên hệ</a></li>
          <li><a href="#">Hệ thống cửa hàng</a></li>
          <li><a href="#">Câu hỏi thường gặp</a></li>
          <li><a href="#">Hướng dẫn mua hàng</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h5 class="fw-bold mb-4">Liên kết</h5>
        <ul>
          <li><a href="#">Điều khoản dịch vụ</a></li>
          <li><a href="#">Điều khoản bảo mật</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Footer Copyright -->
<section class="footer-container container-fluid bg-black py-4">
  <small class="text-center text-white d-block">
    © 2021 Wego Coffee. All rights reserved.
  </small>
</section>
